<div>
	<%= form_with(model: product) do |form| %>
		<div class="form-group">
			<div class="pb-2"><%=form.text_field :name, class: "form-control w-25", placeholder: "Name" %></div>
			<div class="pb-2"><%=form.number_field :product_price, class: "form-control w-25", placeholder: "Price" %></div>
			<div class="pb-2"><%=form.number_field :product_discount, class: "form-control w-25", placeholder: "Discount" %></div>
			<div class="pb-2"><%=form.text_area :marketing_statement, class: "form-control w-25", placeholder: "Marketing statement" %></div>
			<div class="pb-2"><%=form.submit  "Submit", class: "btn btn-primary" %></div>
		</div>
	<% end %>
</div>